/* WHOLE PAGE */
* {
    font-family: 'Roboto';
}

/* BUTTONS */
button {
    font-size: 15px;
    color: white;
    background-color: #3882F6;
    border-radius: 7px;
    border: none;
    width: 100px;
    height: 25px;
}

/* HEADER */
.header {
    /* font-family: 'Roboto'; */
    display: flex;
    background: #1F2937;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 8px;
    padding: 8px;
}

ul {
    display: flex;
    list-style-type: none;
}

a, a:visited {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px;
    padding: 8px;
    text-decoration: none;
}

/* TITLE SECTION */
.container-one {
    display: flex;
    background-color: #1F2937;
    padding-top: 64px;
    padding-bottom: 64px;
}

.awesome-section {
    display: flex;
    margin: 8px;
    padding: 8px;
    flex-direction: column;
}

.awesome-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.awesome-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 32px;
    margin-bottom: 8px;
}
/* Image styling */
.container-one > img[alt="chris and nikko"] {
    margin: 8px;
    padding: 8px;
}

/* INFORMATION SECTION */
.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937; 
    padding: 32px;  
}

.cards {
    display: flex;
}

.card {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-img {
    color: rgb(77, 85, 98);
    margin: 8px;
}

.card > img[alt="chris in nyc"] {
    border: 5px solid;
    border-radius: 8px;
    width: 125px;
    height: 125px;
    border-color: rgb(78, 128, 238);
}

/* QUOTE SECTION */

.container-three {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 100px;
}

.quote {
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    align-items: center;
}

.famous-person {
    text-align: right;
    color: #1F2937;
    font-weight: bolder;
}
/* SIGNUP SECTION */



/* FOOTER SECTION */



